<module>
	<rawname>backrooms</rawname>
	<repo>unsupported</repo>
	<name>Backrooms</name>
	<version>0.0.1</version>
	<category>Development</category>
	<Publisher>Andrew Moser</Publisher>
	<info>This is the test version of what is intended to be a new EPM</info>
	<licence>Private</licence>
	<licenselink></licenselink>
	<database>
        	<table name="backrooms">
            		<field name="id" type="integer" primarykey="true" autoincrement="true"/>
            		<field name="subject" type="string" length="150" notnull="false"/>
            		<field name="body" type="string" length="255" notnull="false"/>
        	</table>
    	</database>
	<menuitems>
		<backrooms>Backrooms</backrooms>
	</menuitems>
	<depends>
		<version>14</version>
	</depends>
	<supported>14.0</supported>
	
	<description>This is the test version of what is intended to be a new EPM</description>
	<changelog>
		*0.0.1 - Forked from "Hello World" template by jfinstrom
	</changelog>
</module>
